<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="site-footer__grid">
      <div class="site-footer__about">
        <a class="site-logo" href="/" aria-label="Рейтинг аудиторов ИБ, на главную"><img class="site-logo__img" src="/images/logo.svg" height="52" width="245" alt="Рейтинг аудиторов ИБ" loading="lazy"></a>
        <p>Рейтинг 8 компаний по аудиту информационной безопасности в России. Данные из открытых источников, сверка раз в квартал.</p>
      </div>
      <div>
        <p class="site-footer__title">Разделы</p>
        <ul>
          <li><a href="/">Рейтинг</a></li>
          <li><a href="/chto-takoe-audit-informacionnoj-bezopasnosti/">Что такое аудит ИБ</a></li>
          <li><a href="/vidy-audita-bezopasnosti/">Виды аудита</a></li>
          <li><a href="/kak-provesti-audit-informacionnoj-bezopasnosti/">Как провести аудит</a></li>
          <li><a href="/kak-vybrat-kompaniyu-dlya-audita/">Как выбрать компанию</a></li>
          <li><a href="/stoimost-audita-ib/">Стоимость аудита</a></li>
        </ul>
      </div>
      <div>
        <p class="site-footer__title">О сайте</p>
        <ul>
          <li><a href="/metodologiya/">Методология</a></li>
          <li><a href="/redakciya/">Редакция</a></li>
          <li><a href="/dobavit-kompaniyu/">Добавить компанию в рейтинг</a></li>
        </ul>
      </div>
      <div>
        <p class="site-footer__title">Правовое</p>
        <ul>
          <li><a href="/pravovaya-informaciya/#konfidencialnost">Персональные данные</a></li>
          <li><a href="/pravovaya-informaciya/#usloviya">Условия использования</a></li>
          <li><a href="/pravovaya-informaciya/#cookies">Cookies</a></li>
          <li><a href="/pravovaya-informaciya/#raskrytie">О связях сайта</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>© 2026 Редакция рейтинга</span>
      <span>Данные сверены 25.09.2026</span>
      <span class="site-footer__note">Сайт связан с одной из компаний рейтинга. <a href="/metodologiya/#raskrytie-affilirovannosti">Подробнее</a></span>
    </div>
  </div>
</footer>
<script src="/js/nav.js" defer></script>
